* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background: #f7e8e5;
}

.menu-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.page:last-child{
    margin-bottom: 0;
}

.page img {
    display: block;
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
